/test/integration/node_modules/*
/test/example/dist
/dist
/test/example/node_modules
/test/example/package.json
/test/example/package-lock.json

!/test/integration/node_modules/@adobe
/test/integration/node_modules/@adobe/*

!/test/integration/node_modules/@adobe/hypertext-pipeline

/test/integration/node_modules/@adobe/hypertext-pipeline/node_modules
/test/integration/node_modules/@adobe/hypertext-pipeline/*.log
/test/integration/dist
/node_modules
pipeline.log
